@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext');

body {
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
  color: #000000;
  /* background-image: linear-gradient(
  270deg,
  hsl(272deg 87% 41%) 0%,
  hsl(272deg 89% 42%) 8%,
  hsl(273deg 89% 43%) 15%,
  hsl(273deg 90% 44%) 23%,
  hsl(274deg 91% 45%) 31%,
  hsl(274deg 92% 46%) 38%,
  hsl(274deg 93% 47%) 46%,
  hsl(275deg 94% 48%) 54%,
  hsl(275deg 95% 50%) 62%,
  hsl(275deg 96% 51%) 69%,
  hsl(276deg 97% 52%) 77%,
  hsl(276deg 98% 53%) 85%,
  hsl(276deg 99% 54%) 92%,
  hsl(277deg 100% 55%) 100%
); */
  background-image:
    radial-gradient(at 100% 0%, rgb(215, 249, 252) 0px, transparent 50%),
    radial-gradient(at 9% 89%, rgb(159, 219, 243) 0px, transparent 50%),
    radial-gradient(at 99% 98%, rgb(87, 32, 133) 0px, transparent 50%),
    radial-gradient(at 0% 0%, rgb(179, 238, 230) 0px, transparent 50%);
  background-size: 200% 200%;
  margin: 0 auto;
  width: 100%;
  font-family: "Quicksand", "Merriweather";
}

.hidden {
  overflow: hidden;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-100 {
  margin-top: 100px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

[class*="col-"] {
  position: relative;
  float: left;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
}

.fl-left {
  float: left;
}

.fl-right {
  float: right;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block;
}

.text-center {
  text-align: center;
}

.upperCase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.container {
  overflow: hidden;
  max-width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 0 15px;
}

.clear {
  clear: both;
}

/* Content */
.body {
  max-width: 100%;
  overflow: hidden;
}

.container-content-card {
  border-radius: 10px;
  max-width: 50%;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 80px;
  overflow: visible;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; */
}

.avatar-container {
  width: 200px;
  height: 150px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin-top: 60px;
}

.img-container {
  margin: 0 auto;
  display: block;
  position: relative;
  height: 0;
  padding-top: 65%;
  width: 55%;
  border-radius: 50%;
  border: 5px solid salmon;
  overflow: hidden;
}

.img-container img {
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: -30% 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.main-content {
  padding-top: 50px;
}

.decs h1 {
  margin-bottom: 5px;
  margin-top: 50px;
  color: #000;
}

.decs p {
  margin-top: 0;
  margin-top: 5px;
  font-size: 20px;
}

.location {
  font-weight: bold;
}

.inf-nav {
  max-width: 75%;
  margin: 0 auto;
  overflow: hidden;
}

.inf-nav span {
  font-weight: bolder;
}

.socials {
  max-width: 45%;
  margin: 0 auto;
  margin-top: 50px;
}

.socials i {
  font-size: 30px !important;
  color: auto;

}

.socials .social-item {
  transition: all 0.3s;
}

.socials .social-item:hover {
  transform: scale(1.2);
}

.button-container {
  justify-content: space-evenly;
  margin-top: 30px;
}

.button-container .btn-item button {
  border: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 19px;
  margin: 15px 35px;
  padding: 15px 40px;
  min-width: 201px;
  border-radius: 50px;
  min-height: 55px;
  color: #fff;
  cursor: pointer;
  backface-visibility: hidden;
  transition: all 0.3s;
}

.btn-message {
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
  box-shadow: 0px 4px 30px rgb(19 127 212 / 40%);

}

.btn-folow {
  background: linear-gradient(45deg, #d5135a, #f05924);
  box-shadow: 0px 4px 30px rgb(223 45 70 / 35%);
}

.button-container .btn-item button:hover {
  transform: translateY(-5px);
}

.btn-message:hover {
  box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
}

.btn-folow:hover {
  box-shadow: 0px 7px 30px rgba(223, 45, 70, 0.75);
}

@media only screen and (max-width: 846px) {

  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .inf-nav div {
    width: 50%;
  }

  [class*="col-"].social-item {
    width: 25% !important;


  }

  .social-item i {
    font-size: 25px !important;
  }

  .container-content-card {
    max-width: 80%;
  }

  .socials {
    max-width: 65%;
    margin: 0 auto;
    margin-top: 50px;
  }

  h1 {
    font-size: 25px !important;
    margin-right: 0px !important;
    margin: 50px 0 auto 0;
  }

  p {
    font-size: 12px !important;
  }

  .button-container {
    flex-wrap: wrap;

  }

}